* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    width: 100%;
    header {
        display: flex;
        height: 90px;
        background-color: rgb(2, 58, 92);
        img {
            position: absolute;
            left: 15%;
            width: 200px;
            height: auto;
        }
        form {
            display: flex;
            align-items: center;
                justify-content: center;
            input {
                height: 30%;
                padding-left: 10px;
                width: 150px;
                margin: 10px;
            }
            a {
                font-size: 1.6rem;
                margin: 10px;
                color: white;
            }
        }
        
        ul {
            display: flex;
            width: 50%;
            margin: 0 auto 0 30%;
            height: 100%;
            align-items: center;
            justify-content: space-evenly;
            //padding: auto 0;
            
            li {
                display: flex;
                width: 100px;
                justify-content: center;
                
                align-content: space-evenly;
                margin: 0 10px;
                
                a {
                    display: block;
                    text-decoration: none;
                    color: white;
                    font-size: 1.3rem;
                    margin: 10px;
                    &:hover
                    {
                        border-bottom: 2px solid white;
                    }
                }
                
            }
        }
    }
}