* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#app {
  width: 100%;
}

#app header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  background-color: #023a5c;
  z-index: 100;
}

#app header img {
  position: absolute;
  left: 15%;
  width: 200px;
  height: auto;
  z-index: 101;
}

#app header .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#app header .search input {
  height: 30%;
  padding-left: 10px;
  width: 150px;
  margin: 10px;
}

#app header .search a {
  font-size: 1.6rem;
  margin: 10px;
  color: white;
}

#app header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: 0 auto 0 30%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#app header .menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  margin: 0 10px;
}

#app header .menu__item a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  margin: 10px;
}

#app header .menu__item a:hover {
  border-bottom: 2px solid white;
}

#app .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 883px;
  overflow: hidden;
}

#app .slider img {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

#app .slider .newsletter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 700px;
  height: 50px;
  top: 900px;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: red;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app .slider .newsletter-form .form__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  line-height: 30px;
  margin: auto;
}

#app .slider .newsletter-form button {
  display: block;
  position: relative;
  width: 100px;
  left: 100px;
}

#app .left-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 125px;
  height: 700px;
  z-index: 91;
  background-color: white;
  -webkit-box-shadow: 2px 0 2px;
          box-shadow: 2px 0 2px;
}

#app .title {
  display: inline-block;
  text-align: center;
  width: 200px;
  margin: 0 auto;
}

#app .title img {
  vertical-align: middle;
}

#app .title h1 {
  display: inline-block;
  width: 100px;
  margin: 0 auto;
  color: white;
}

#app .branze {
  height: 800px;
  background-color: #023a5c;
  text-align: center;
  line-height: 100px;
}

#app .branze .list {
  position: relative;
  display: -ms-grid;
  display: grid;
  width: 70%;
  height: 500px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 30px 30px;
}

#app .branze .list .list__item {
  display: -ms-inline-grid;
  display: inline-grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  cursor: pointer;
  background-image: url(https://dummyimage.com/300x150/658ae6/7175b3);
  opacity: 0.2;
}

#app .branze .list .list__item:hover {
  opacity: 1;
}

#app .branze .list .list__item a {
  font-size: 1.6rem;
  text-decoration: none;
  color: white;
  margin: 0 auto;
}

#app .branze .list .list__item:nth-last-child(1) {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  line-height: normal;
  grid-gap: 20px 20px;
}

#app .branze .list .list__item:nth-last-child(1) p {
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1;
      grid-template-rows: 1;
}

#app .projekty {
  height: 600px;
  background-color: white;
  text-align: center;
  line-height: 100px;
}

#app .projekty h1, #app .projekty p {
  color: #023a5c;
}

#app .projekty .desc {
  position: relative;
  display: -ms-grid;
  display: grid;
  width: 70%;
  height: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  line-height: normal;
  grid-gap: 20px 20px;
  padding-bottom: 30px;
}

#app .projekty .projekty__items {
  position: relative;
  display: -ms-grid;
  display: grid;
  width: 70%;
  height: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px 20px;
  justify-items: center;
}

#app .projekty .projekty__items .projekty__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 140px;
  height: 140px;
  background-color: #023a5c;
  border-radius: 50%;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

#app .projekty .projekty__items .projekty__item:hover {
  background-color: #2b179c;
  border: 5px solid;
  border-color: #166dbe;
}

#app .projekty .projekty__items .projekty__item span {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  height: 50px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  line-height: normal;
  font-size: 0.9rem;
}
/*# sourceMappingURL=style.css.map */