* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    width: 100%;
    header {
        position: relative;
        display: flex;
        height: 90px;
        background-color: rgb(2, 58, 92);
        z-index: 100;
        img {
            position: absolute;
            left: 15%;
            width: 200px;
            height: auto;
            z-index: 101;
        }
        .search {
            display: flex;
            align-items: center;
                justify-content: center;
            input {
                height: 30%;
                padding-left: 10px;
                width: 150px;
                margin: 10px;
            }
            a {
                font-size: 1.6rem;
                margin: 10px;
                color: white;
            }
        }
        
        .menu {
            display: flex;
            width: 50%;
            margin: 0 auto 0 30%;
            height: 100%;
            align-items: center;
            justify-content: space-evenly;
            
            &__item {
                display: flex;
                width: 100px;
                justify-content: center;
                
                align-content: space-evenly;
                margin: 0 10px;
                
                a {
                    display: block;
                    text-decoration: none;
                    color: white;
                    font-size: 1.3rem;
                    margin: 10px;
                    &:hover
                    {
                        border-bottom: 2px solid white;
                    }
                }
                
            }
        }
    }
    .slider {
        display: flex;
        justify-content: center;
        height: 883px;
        overflow: hidden;
        img {
            flex: none;
        }
        .newsletter-form {
            display: flex;
            position: absolute;
            width: 700px;
            height: 50px;
            top: 900px;
            padding: 10px;
            justify-content: center;
            background-color: red;
           align-items: center;

            .form__main {
                display: flex;
                width: 500px;
                justify-content: space-evenly;
                line-height: 30px;
                margin: auto;
            }
            button {
                display: block;
                position: relative;
                width: 100px;
                left: 100px;
            }
        }
    }
    .left-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 125px;
        height: 700px;
        z-index: 91;
        background-color: white;
        box-shadow: 2px 0 2px;
    }

    .title {
        display: inline-block;
        text-align: center;
        width: 200px;
        margin: 0 auto;
        img {
            vertical-align: middle;
        }
        h1 {
            display: inline-block;
            width: 100px;
            margin: 0 auto;
            color: white;
        }
    }

    .branze {
        height: 800px;
        background-color: #023a5c;
        text-align: center;
        line-height: 100px;
      

        .list {
            position: relative;
            display: grid;
            width: 70%;
            height: 500px;
            left: 50%;
            transform: translateX(-50%);
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-gap: 30px 30px;
            .list__item {
                display: inline-grid;
                justify-items: center;
                align-items: center;
                transition: 0.2s linear;
                cursor: pointer;
                background-image: url(https://dummyimage.com/300x150/658ae6/7175b3);
                opacity: 0.2;
                &:hover {
                    opacity: 1;
                }
                a {
                    width: 100%;
                    font-size: 1.6rem;
                    text-decoration: none;
                    color: white;
                    margin: 0 auto;
                }
            }
            .list__item:nth-last-child(1) {
                display: grid;
                height: 100%;
                grid-column: 1 / 4;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr;
                line-height: normal;
                grid-gap: 20px 20px;
                pointer-events: none;
                background-image: none;
                opacity: 1;
                color: white;
                p {
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: 1;
                }
                

            }
        }
    }

    .projekty {
        height: 600px;
        background-color: white;
        text-align: center;
        line-height: 100px;
        h1, p {
                color: #023a5c;
        }

        .desc {
            position: relative;
            display: grid;
            width: 70%;
            height: auto;
            left: 50%;
            transform: translateX(-50%);
            grid-column: 1 / 4;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            line-height: normal;
            grid-gap: 20px 20px;
            padding-bottom: 30px;
        }

        .projekty__items {
            position: relative;
            display: grid;
            width: 70%;
            height: auto;
            left: 50%;
            transform: translateX(-50%);
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-gap: 20px 20px;
            justify-items: center;
            .projekty__item {
                display: flex;
                width: 140px;
                height: 140px;
                background-color: #023a5c;
                border-radius: 50%;
                text-decoration: none;
                color: white;
                text-transform: uppercase;
                transition: 0.2s linear;
                &:hover {
                    background-color: rgb(43, 23, 156);
                    border: 5px solid;
                    border-color: #166dbe;
                }
                span {
                    position: relative;
                   // display: inline-block;
                   display: inline-flex;
                   align-items: center;
                   justify-content: center;
                    width: 90%;
                    height: 50px;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    line-height: normal;
                    font-size: 0.9rem;
                    
                }
            }
        }
    
    }

    .uslugi {
        min-height: 800px;
        background-color: #023a5c;
        text-align: center;
        line-height: 100px;
        color: white;
        .uslugi__content {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            height: 70%;
            width: 70%;
            margin: 0 auto;
            justify-content: center;
            
            
            .uslugi__item {
                
                display: flex;
                
                width: 100%;
                
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                &:nth-child(2) {
                    grid-column: 3 / 4;
                }
                &:nth-child(3) {
                    grid-column: 1 / 2;
                    grid-row: 3 / 4;
                }
                &:nth-child(4) {
                    grid-column: 3 / 4;
                    grid-row: 3 / 4;
                }
                &:nth-child(5) {
                    grid-column: 2 / 3;
                    grid-row: 2 / 3;
                }
                a {
                    text-decoration: none;
                    color: white;
                }

                img {
                    width: 100px;
                }
                h1 {
                    line-height: normal;
                    font-size: 1.7rem;
                   
                }
            }
        }
        .uslugi__text {
            display: flex;
            height: auto;
            line-height: normal;
            width: 70%;
            margin: 0 auto;
            p {
                margin: 20px 20px;
                padding: 20px 20px;
            }
        }

    }
    .active {
        display: inline-block;
    }

    .aktualnosci {
        height: 600px;
        background-color: white;
        text-align: center;
        line-height: 100px;
        h1, a, p, img, span {
            color: #023a5c;
        }
        a {
            text-decoration: none;
            line-height: normal;
            font-size: 20px;
        }
        .news {
            display: flex;
            flex-direction: column;
            position: relative;
            height: 400px;
            width: 70%;
            
            margin: 0 auto;
            flex-wrap: nowrap;
            i {
                position: relative;
                width: 30px;
                font-size: 30px;
                top: 50%;
                transform: translateY(-50%);
                
            }
            &__group {
                width: calc(100% - 60px);
                margin: 0 auto;
                .active {
                    display: inline-block;
                }
                .hidden {
                    display: none;
                }
            }
           
            &__item {
                display: flex;
                display: inline-block;
                flex-direction: column;
                margin: 0px 20px 0px 20px;
                width: 20%;
                height: 400px;
                a {
                    display: flex;
                    img {
                        border-radius: 50%;
                    }
                }
                span {
                    width: 100%;
                    height: 40px;
                    padding: 5px;
                    line-height: 30px;
                }
                h1 {
                    line-height: normal;
                    padding: 5px;
                }
            }
        }
    }

}